{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/index.css' %}">
    <title>Home - PortFolio Creator</title>
</head>
<body>
    <nav>
        LOGO
        <ul>
            <li>Copy Link</li>(/username)
           <li> <a href="{% url 'logout' %}">Log out</a></li>
        </ul>
    </nav>
    if(not created) -----

    <h3>Create Your PortFolio</h3>
    <h6>Enter Details</h6>

    Registration Form - Multiple Pages 
------
    if(Created)
    
    edit Existing 

    open registration form with data added
    

    

    
</body>
</html>