{% extends "landing/index.html" %}
{% block content %}
<h1>About Us</h1>
<h2>
    This project is a versatile portfolio creation platform designed to empower users, whether they are Designers, Creators, or Developers, to showcase their work effortlessly. By offering a range of customizable themes, users can create stunning portfolios tailored to their style and needs. Once completed, the platform generates a unique link for each portfolio, making it easy to share and display their professional work to the world. It's a fast, simple, and creative solution for building your online presence in minutes.
</h2>
{% endblock %}