{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Creator</title>
    <link rel="icon" type="image/x-icon" href="">
<link rel="stylesheet" href="{% static 'landing/index.css' %}">
</head>
<body>
    <nav>
        Logo

        <ol>
            <a href="{% url 'index' %}"><li>Home</li></a>
            <a href="{% url 'about' %}"><li>About</li></a>
            <a href="{% url 'signin' %}"><li>signin</li></a>
            <a href="{% url 'register' %}"><li>register</li></a>
            
            
        </ol>
    </nav>
    <br>
    {% for message in messages %}  

    <div class="alert alert-{{message.tags}}" role="alert" style="margin-top: 30px">
      <h5>{{message}}</h5>
    
    </div>
    {% endfor %}

    <br>


    {% block content %}
    <h1>WELCOME TO PORTFOLIO - MANAGER</h1>
    <h4>Create your ideal portfolio in minutes with our custom portfolio creator, designed for Designers, Creators, and Developers to showcase their work their way.</h4>
    <button>Get started</button>
    {% endblock %}

    <nav>
        Footer
    </nav>
</body>
</html>